<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Josias</title>
</head>
<style>
    img {
        display: block;
        margin-left: 70px;
        margin-top: 20px;
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        color: rgb(253, 252, 252);
        font-size: 30px;
        position: absolute;
        left: 120px;
        top: 0px
    }

    body {
      margin: 0;
      padding: 0;
      height: 100%;
    }

    .topo {
      background-color: white;
      height: 50%; /* metade da tela */
    }

    .baixo {
      background-color: black;
      height: 50%; /* metade da tela */
    }
    .titulo {
        font-family: 'Montserrat', sans-serif;
        color: rgb(253, 252, 252);
        font-size: 100px;
        position: absolute;
        left: 120px;
        top: 0px
    }
  
</style>



<body>
    <div class="baixo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToCiwlnI6TZrNzwZbKcZ9XzgFZTcRNehA1BQ&s" width="27" height="27" alt="logo YoutueMusic">
        <h1>Music</h1>
        <h1 class="titulo">YoutubeMusic</h1>
    </div>


</body>
</html>